<div class="media">
  <div class="media-body">
    <h4 class="media-heading"> 
      <p><%= link_to keep.title, user_keep_path(current_user, keep.id), class: "label label-default default-primary-color" %></p> 
    </h4>
  </div>
</div>
