<h1>Keeps</h1>
<%= link_to "New Keep", new_keep_path, class: "btn btn-success" %>
<!--< @keeps.each do |keep| >-->
  <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <!--<p>< keep.title ></p> -->
         <!--< link_to "Delete Keep", [current_user, keep], method: :delete, class: "btn btn-danger" >-->
       </h4>
     </div>
  </div>
<!--< end >-->