<h1 class="header-to-left-button"><%= @keep.title %></h1>
<%= link_to "Edit Keep", edit_user_keep_path, class: "btn btn-warning" %>
<%= link_to "Delete Keep", user_keep_path, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this keep?" } %>