<header>
  <h1><%= @keeper.url %>
  <% if policy(@keeper).edit? %>
    <%= link_to "Edit Keeper", edit_keep_keeper_path, class: "btn btn-warning" %>
  <% end %>
  <% if policy(@keeper).destroy? %>
    <%= link_to "Delete Keeper", keep_keeper_path, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this keeper?" } %>
  <% end %>
  <%= render partial: "likes/like", locals: { keeper: @keeper } %>
  </h1>
</header>