<header>
  <h1><%= current_user.username %></h1>
</header>

<div class="container">
  <div class="row">
    <h3>Keepers</h3>
       
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Liked Keepers</h3>
      
  </div>
</div>