<div class="jumbotron">
  <h1>Keep your Keepers</h1>
  <p>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %> or
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %> 
  </p>
</div>

