<% if user_signed_in? %>
<h1>Keeps</h1>
<%= link_to "New Keep", new_user_keep_path(current_user), class: "btn btn-success" %>
  <%= render partial: "keeps/keep", collection: current_user.keeps %>
<% else %>
  <div class="jumbotron text-center accent-color">
    <h1>Keep your Keepers</h1>
    <p>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-md text-primary-color default-primary-color" %> or
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-md text-primary-color default-primary-color" %> 
    </p>
  </div>
<% end %>